
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
    ViewData["Titel"] = "LOGINPAGE";
}
<html>
<body style="background-color:gray;">
    <br>
    <center>
        <br>
        <br>
        <h1 style="color:Tomato;">LOGIN FORM</h1>
        <br>
    </center>
    <center>
        <h3 style="color:red;">UserName:<Input type="text" id="UserName" Name="UserName" /></h3><br>
        <h3 style="color:red;">PassWord:<Input type="Password" id="PassWord" Password="PassWord" /></h3><br>
        <center>
            <h1><button type="button">Login</button>
        </center>
</body>
</html>
